Repository tombelieber/claude-session-backup: changes, and which lefthook commands are due for each by the changed paths.
All: skill-sync, bash-syntax

lefthook.yml:

pre-commit:
  commands:
    skill-sync:
      run: bash test/skill-sync.sh
      glob: "{cli.sh,skills/backup/SKILL.md,.claude-plugin/plugin.json,package.json}"
    bash-syntax:
      run: bash -n cli.sh
      glob: "cli.sh"

chore: bump version to 3.1.0
  cli.sh
  package.json
Due: skill-sync, bash-syntax

fix: address shippable audit findings for v3.1 release
  .github/workflows/ci.yml
  README.md
  cli.sh
  skills/backup/SKILL.md
  test/skill-sync.sh
Due: skill-sync, bash-syntax

fix: harden JSON output contract across all commands
  cli.sh
Due: skill-sync, bash-syntax

docs: rewrite README with FOMO-first messaging
  README.md
  package.json
Due: skill-sync

feat: add multi-machine namespacing with migration and dual-write manifest
  cli.sh
Due: skill-sync, bash-syntax

feat: add restore --all for full backup restoration
  cli.sh
Due: skill-sync, bash-syntax

feat: add backend set command for switching backup modes
  cli.sh
Due: skill-sync, bash-syntax

chore: polish v3.2 — init --backend flag, skill sync, help text
  cli.sh
  docs/plans/2026-02-27-claude-backup-v3.2-design.md
  docs/plans/2026-02-27-claude-backup-v3.2-impl.md
  skills/backup/SKILL.md
Due: skill-sync, bash-syntax

fix: marketplace.json schema + 4-file version sync in CI
  .claude-plugin/marketplace.json
  .github/workflows/release.yml
  test/skill-sync.sh
Due: none

docs: update README for v3.2 — backend modes, schedule, restore --all
  README.md
Due: none

release: v3.2.1
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  cli.sh
  package.json
Due: skill-sync, bash-syntax

fix: correct plugin install command and deduplicate version
  .claude-plugin/marketplace.json
  README.md
Due: none

release: v3.2.2
  .claude-plugin/plugin.json
  cli.sh
  package.json
Due: skill-sync, bash-syntax

fix: make skill agent-first — resolve CLI from plugin cache, no npm needed
  README.md
  skills/backup/SKILL.md
Due: skill-sync

fix: make skill agent-first — resolve CLI from plugin cache, no npm needed (#1)
  README.md
  skills/backup/SKILL.md
Due: skill-sync

release: v3.2.3
  .claude-plugin/plugin.json
  cli.sh
  package.json
Due: skill-sync, bash-syntax

ci: add skill-CLI sync check to release workflow
  .github/workflows/release.yml
Due: none

release: v3.2.4
  .claude-plugin/plugin.json
  cli.sh
  package.json
Due: skill-sync, bash-syntax

release: v3.2.5
  .claude-plugin/plugin.json
  cli.sh
  package.json
Due: skill-sync, bash-syntax

docs: redirect skill users to tomstack
  README.md
Due: none
